<!DOCTYPE html>
<html ng-app="myApp">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>homework 1</title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>


  </head>



  <body>

  <ion-nav-bar class="bar-positive" style=""></ion-nav-bar>
  <ion-nav-view></ion-nav-view>

  <!--first page-->
    <script id="templates/view1.html" type="text/ng-template">
      <ion-view view-title="Quiz">
        <ion-pane>
          <ion-content class="padding has-header">

            <p style="text-align: center; color: #46c1ff;
                    font-size: 50px; font-style: italic; font-weight: bold;
                    margin-top: 30px;">Solve the </p><br>
            <p style="text-align: center; font-style: italic; color: #46c1ff;
                        font-size: 50px; font-weight: bold;">Puzzle</p>
            <br>
            <img src="img/puzzle.png" style="width:70%; margin-left:15%">

            <div class="text-center" style="margin-top: 20px">
            <button class="button icon-right ion-star button-calm"
                    ng-click="start()">start</button>
            </div>
          </ion-content>
        </ion-pane>
      </ion-view>
    </script>

    <!--second page question 1-->
  <script id="templates/view2.html" type="text/ng-template">
    <ion-view view-title="Problem 1">
      <ion-pane>
        <ion-content class="padding has-header">
          <p style="text-align: center; color: #46c1ff;
                    font-size: 20px; font-style: italic; font-weight: bold;
                    margin-top: 10px; line-height: 110%">
            What time is it?  Put device time</p><br>

          <div class="bottom" style="margin-top: 30px">
            <div style="float: left; width: 40%;">
              <label class="item item-input">

                <input type="text" name="hour" id="hour-textarea"
                       ng-model="$parent.hour" placeholder="hour">
              </label>
            </div>
            <div style="float: left; width: 40%;">
              <label class="item item-input">

                <input type="text" name="minute" id="minute-textarea"
                       ng-model="$parent.minute" placeholder="minute">
              </label>
            </div>

            <!--select button for am, pm-->
            <div style="float: left; width: 20%;">
              <label class="item item-input item-select">
                <select>
                  <option selected> A M </option>
                  <option> P M </option>
                </select>


              </label>
            </div>

          </div>

          <div class="text-center" style="margin-top: 100px">
            <button class="button button-calm"
                    ng-click="check()">check!</button>
          </div>




        </ion-content>
      </ion-pane>
    </ion-view>
  </script>


  <!--third page question 2-->
  <script id="templates/view3.html" type="text/ng-template">
    <ion-view view-title="Q1View">
      <ion-pane>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Question 1</h1>
        </ion-header-bar>
        <ion-content class="padding has-header">

        </ion-content>
      </ion-pane>
    </ion-view>
  </script>


  <!--final page result-->
  <script id="templates/view4.html" type="text/ng-template">
    <ion-view view-title="Q1View">
      <ion-pane>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Question 1</h1>
        </ion-header-bar>
        <ion-content class="padding has-header">

        </ion-content>
      </ion-pane>
    </ion-view>
  </script>




  </body>
</html>
